# Database Configuration
SPRING_DATASOURCE_URL=jdbc:mysql://gateway01.ap-southeast-1.prod.aws.tidbcloud.com:4000/club_management
SPRING_DATASOURCE_USERNAME=your_username
SPRING_DATASOURCE_PASSWORD=your_password

# Redis Cloud Configuration
REDIS_HOST=redis-11525.c73.us-east-1-2.ec2.redns.redis-cloud.com
REDIS_PORT=11525
REDIS_PASSWORD=your_redis_password
REDIS_DATABASE=0

# Frontend Configuration
HOST_FRONT_END=http://localhost:5173

# EPU API Configuration
EPU_API_URL=http://localhost:8081/api/allowed-users

# Docker Configuration
IMAGE_NAME=fcm-backend:latest

